
<div class="container">
    <img src="./../../assets/img/logo.png" alt="">
    <form action="">
        <div class="input-wrap">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>   
        <div class="input-wrap">
            <label for="password">Password</label>
            <input type="password" name="passwrod">
        </div>
        <div class="input-wrap">
            <button type="submit">LOG IN</button>
        </div>
        <a href="">Forget password?</a>
    </form>
</div>
